* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #111;
  padding: 15px;
  position: sticky;
  top: 0;
}

.nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

.hero {
  padding: 40px;
  text-align: center;
  background: #f4f4f4;
}

.icon {
  width: 50px;
  margin-top: 20px;
}

section {
  padding: 40px 20px;
}

.about-img {
  max-width: 300px;
  display: block;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 8px;
}

form {
  max-width: 400px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  padding: 10px;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .nav a {
    display: block;
    margin-bottom: 10px;
  }
}


.social img {
  width: 40px;
  height: 40px;
}

hr {
  margin: 15px 0 25px;
}

